h1{
    background-color: gray;
    text-align: center;
    padding: 20px;
}   


#para-one{
    background-color: #2A84C5;
    margin: 0px;}
#para-two{
    background-color:#2A92D0;
    margin: 0px}
#para-three{
    background-color:#189DD8 ;
    margin: 0px;}
#para-four{
    background-color:#36A9DF ;
   margin: 0px;}
#para-five{
    background-color:#55B6E6;
    margin: 0px;}
#para-six{
    background-color:#6FC1EB ;
    margin: 0px;}
#para-seven{
    background-color:#1AB585 ;
    margin: 0px;}
#para-eight{
    background-color:#F5B1CF;
    margin: 0px;}
#para-nine{
    background-color:#F49EC2;
    margin: 0px;}
#para-ten{
   background-color:#F28CB4 ; 
   margin: 0px;}
#para-eleven{
    background-color:#F179A6  ;
    margin: 0px;}
#para-twelve{
    background-color:#F0588B ;
    margin: 0px;}
#para-thirteen{
    background-color:#EE337F ;
    margin: 0px;}